<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Steve Avon</th>
            <td>
              <button type="button" class="btn btn-primary">View History</button>
              <button type="button" class="btn btn-secondary">Fill out Form</button>
            </td>
          </tr>
          <tr>
            <th scope="row">Cris Bouidel</th>
            <td>
              <button type="button" class="btn btn-primary">View History</button>
              <button type="button" class="btn btn-secondary">Fill out Form</button>
            </td>
          </tr>
          <tr>
            <th scope="row">Sean Caesar</th>
            <td>
              <button type="button" class="btn btn-primary">View History</button>
              <button type="button" class="btn btn-secondary">Fill out Form</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">

    </div>
  </div>
</div>
