<div id="wrapper">


  <!-- Sidebar -->
  <ul class="sidebar navbar-nav w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" id="mySidebar">

    <button class="w3-large w3-hide-large nav-link" style="width: 100%;" (click)="closeSidebar()">Close &times;</button>
    <li class="nav-item" *ngFor="let student of student_list">
      <a class="nav-link" (click)="changeStudent(student)">
        {{student['name']}}
      </a>
    </li>
  </ul>

  <div id="content-wrapper">

    <div class="container-fluid">

      <button class="w3-xlarge w3-hide-large sidebar-open-button nav-link" (click)="openSidebar()">&#9776;</button>

      <!-- Breadcrumbs-->
      <ol class="breadcrumb" *ngIf="selected_student" style="padding: 0.5rem 1rem;">
        <div style="width: 50%; margin-top: 10px;">
          <li class="breadcrumb-item" style="display: inline-block">
            {{selected_student.name}}
          </li>
          <li class="breadcrumb-item active" style="display: inline-block">Overview</li>
        </div>
        <div class="pull-right" style="width: 50%; text-align: right;">
          <button type="button" class="btn btn-primary" (click)="newSurvey()">Fill out new Survey</button>
        </div>

      </ol>

      <!-- loading spinner -->
      <div *ngIf="isLoading" class="col-md-12 col-sm-12 mt-5 d-flex justify-content-center" style="width: 800px;">
        <div class="spinner-border text-primary justify-content-center" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- Icon Cards-->
      <div class="row" *ngIf="!isLoading && selected_student">
        <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let question of display_questions">

          <div *ngIf="question['trend'] == 'steadily_good'" class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">{{question['question_display_string']}}</div>
            </div>
            <p class="card-footer text-white clearfix small z-1">
              This has not been an issue for {{selected_student.name}}.
            </p>
          </div>

          <div *ngIf="question['trend'] == 'steadily_bad'" class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">{{question['question_display_string']}}</div>
            </div>
            <p class="card-footer text-white clearfix small z-1">
              This has been a consistent issue for {{selected_student.name}}.
            </p>
          </div>

          <div *ngIf="question['trend'] == 'improvement'" class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">{{question['question_display_string']}}</div>
            </div>
            <p class="card-footer text-white clearfix small z-1">
              {{selected_student.name}} was having issues here, but is showing improvement.
            </p>
          </div>

          <div *ngIf="question['trend'] == 'deterioration'" class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">{{question['question_display_string']}}</div>
            </div>
            <p class="card-footer text-white clearfix small z-1">
              {{selected_student.name}} may be starting to have issues here, keep an eye on this.
            </p>
          </div>
        </div>
        <!-- end Icon Cards-->

        <!-- Behavioral Intervention Plan -->
        <div class="card mb-3" *ngIf="!isLoading && selected_student" style="width: 100%;">
          <div class="card-header">
            Behavioral Intervention Plan
            <a target="_blank"
              href="https://www.understood.org/en/learning-attention-issues/treatments-approaches/educational-strategies/behavior-intervention-plans-what-you-need-to-know">(B.I.P.)</a>
          </div>
          <div class="card-body" style="font-size: 10px;">
            <p *ngFor="let suggestion of bip">
              <strong *ngIf="suggestion.bold == true; else noBold">{{suggestion.text}}</strong>
              <ng-template #noBold>{{suggestion.text}}</ng-template>
            </p>
          </div>
          <div class="card-footer">
            <p class="font-italic" style="font-size: 10px; color: #dc3545; margin-bottom: 0px;">
              Note: Scholastic is forming general plan based on the information given in this survey. We cannot
              guarantee suggestions will help, as each child is different.
              If unsure about the right approach, please seek help from a counselor or another qualified individual.
            </p>
          </div>
        </div>
        <!-- End Behavioral Intervention Plan -->

        <!-- Line Chart -->
        <div class="card mb-3" *ngIf="!isLoading" style="width: 100%;">
          <div class="card-header">
            Behavioral Issue Indicator Over Time
            <span class="header-small">
              All questions available and answered are weighted on a 1-5 scale based on severity. The higher the number,
              the more likely this question is an indicator of mental health issues.
              This chart represents the average weight of all questions answered in surveys over time.
            </span>
          </div>
          <div class="card-body" *ngIf="lineChartData">
            <canvas baseChart width="100%" height="30" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
          </div>

          <div class="card-footer small text-muted" *ngIf="surveys_taken.length > 0">Updated
            {{surveys_taken[0]['date_taken']}}</div>
        </div>
        <!-- End Line Chart -->



        <!-- Survey Table -->
        <div class="card mb-3" *ngIf="!isLoading" style="width: 100%;">
          <div class="card-header">Surveys Taken</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date Taken</th>
                    <th># Questions Answered</th>
                    <th># Trues</th>
                    <th># Falses</th>
                    <th>Behavioral Issue Indicator</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Date Taken</th>
                    <th># Questions Answered</th>
                    <th># Trues</th>
                    <th># Falses</th>
                    <th>Behavioral Issue Indicator</th>
                  </tr>
                </tfoot>
                <tbody>
                  <ng-container *ngFor="let survey of surveys_taken">
                    <tr>
                      <td>{{survey['date_taken']}}</td>
                      <td>{{survey['num_answered']}}</td>
                      <td>{{survey['num_true']}}</td>
                      <td>{{survey['num_false']}}</td>
                      <td>
                        {{survey['health_score']}}
                        <span style="float: right; cursor: pointer;" (click)="expandRow(survey['survey_id'])">

                          <fa-icon [icon]="icon_shown"></fa-icon>
                        </span>
                      </td>
                    </tr>
                    <tr class="expandable" id="{{survey['survey_id']}}">
                      <td colspan="5">
                        <table style="float: right;">
                          <tr>
                            <th>Questions Answered</th>
                            <th>Answers</th>
                          </tr>
                          <tbody>
                            <tr *ngFor="let response of survey['responses']">
                              <td>{{response['question']['question']}}</td>
                              <td>{{response['response']}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Survey Table -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- wrapper -->
